

.container {
    justify-content: center;
    text-align: center;
    background: linear-gradient(
    to bottom right,
    #8e9192,
    #666668,
    #1b1a1b,
    #666668);
    width: 350px;
    box-shadow: 8px 8px 6px 3px rgba(0, 0, 0, 0.36);
    border: solid black 3px;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 5%;
}

h2 {
    text-shadow: 0 0 5px rgb(14, 13, 13), 0 0 7px rgb(15, 15, 17);
    margin-top: 5%;
    box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.36);
    border: solid black 3px;
    background: linear-gradient(
    to right,
    #8e9192,
    #cacaca,
    #c7c7c7,
    #303031);
}

h5 {
    text-align: center;
}

h4 {
    text-shadow: 0 0 5px rgb(14, 13, 13), 0 0 7px rgb(15, 15, 17);
    margin-top: 3%;
    box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.36);
    border: solid black 3px;
    background: linear-gradient(
    to right,
    #8e9192,
    #cacaca,
    #c7c7c7,
    #303031);
}

img {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    height: 80%;
    border: 2px solid white;
    box-shadow: 3px 3px 6px 5px rgba(238, 238, 238, 0.36);
}

button:hover {
    border: 2px solid white;
}

button {
    margin-bottom: 7%;
    font-size: 20px;
    text-shadow: 0 0 5px rgb(14, 13, 13), 0 0 7px rgb(15, 15, 17);
}