
<html>
<h1>Delete</h1>
<h5>Are you sure you want to delete this?</h5>

<div *ngIf="character">
    <div class=container>
        <h2>{{character.CharacterName}}</h2>      
        <img [src]="character.ImageLink" alt="character.CharacterName">
        <h4>CharacterId: {{character.CharacterId}}</h4>
      <h4>{{character.House}}</h4>
      <button mat-button color="warn" (click)="onDelete()">Delete</button>
      <button mat-button color="primary" routerLink="/characters">Back To List</button>
    </div>
</div>
</html>