.container {
    text-align: center;
    position: relative;
    color: black;;
    width: 50%;
    margin-top: 50px;
}
   
label {
    float: left;
}
   
button {
   background-color: black;
   color: white;
}
   
button:hover {
   background-color: grey;
   color: white;
   text-decoration: underline;
}

h2 {
    text-align:center;
    margin-top: 50px;
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 7px rgb(15, 15, 17);
}