<section id="contact">
  <div class="container">
      <h2>Contact Us</h2>
          <div class="col-12">
              <form (submit)="onSubmit();" action="https://formspree.io/JonMichaelAdcock@gmail.com" method="POST">
                  <div class="control-group">
                      <div class="form-group">
                          <label>
                              <b>Name</b>
                            </label>
                          <input type="text" class="form-control" placeholder="Your Name" id="name"
                              required data-validation-required-message="Please enter your name"
                              name="name">
                      </div>
                  </div>
                  <div class="control-group">
                      <div class="form-group">
                          <label>
                            <b>  Email Address  </b>
                        </label>
                          <input type="email" class="form-control" placeholder="Your Email"
                              id="email" required data-validation-required-message="Please enter your email"
                              name="_replyto">
                      </div>
                  </div>
                  <div class="control-group">
                      <div class="form-group">
                          <textarea class="form-control" rows="7" placeholder="Your Message"
                              id="message" required data-validation-required-message="Please leave a message"
                              name="message"></textarea>
                      </div>
                  </div>
                  <div class="text-center">
                      <div id="success"></div>
                      <button type="submit" value="Send">
                          Send Raven
                      </button>
                    </div>
                      <span style="font-size: 6em; color: black;">
                      <i class="fas fa-crow"></i>
                      </span>
              </form>
          </div>
  </div>
</section>