<h1>Character Index</h1>
<a mat-raised-button class="createButton" color="primary" routerLink="/characters/create">Create New</a>
<hr>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <!-- <ng-container matColumnDef="CharacterId">
      <mat-header-cell *matHeaderCellDef> Character ID# </mat-header-cell>
      <mat-cell *matCellDef="let character"> {{character.CharacterId}} </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="CharacterName">
      <mat-header-cell *matHeaderCellDef> Character Name </mat-header-cell>
      <mat-cell *matCellDef="let character"> {{character.CharacterName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="House">
      <mat-header-cell *matHeaderCellDef> House / Affiliation </mat-header-cell>
      <mat-cell *matCellDef="let character"> {{character.House}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ImageLink">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let character"><img [src]="character.ImageLink" style="width:40%; height: 40%; border-radius: 50%;" routerLink="/characters/detail/{{character.CharacterId}}"> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef> Edit / Delete / Details </mat-header-cell>
      <mat-cell *matCellDef="let character">
        <i mat-icon class="material-icons" routerLink="/characters/edit/{{character.CharacterId}}">edit</i>
        <i class="material-icons" routerLink="/characters/delete/{{character.CharacterId}}">delete</i>
        <i class="material-icons" routerLink="/characters/detail/{{character.CharacterId}}">account_circle</i>
      </mat-cell>
    </ng-container>

  </mat-table>
</div>
