.thumbnail {
    margin: 20px;
    border: 2px solid white;
    border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:10px;
    border-bottom-right-radius:0px;
    box-shadow: 0px -10px 30px black;
}

.thumbnail:hover {
    box-shadow: none;
}

i:hover {
    border: 1px solid black;
    border-radius: 10%;
}

h1 {
    text-align:center;
    margin-top: 50px;
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 7px rgb(15, 15, 17);
}

.createButton {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}


.mat-row.mat-row {
    font-family: 'Cinzel Decorative', cursive;
}

.mat-cell.mat-cell {
    font-size: 25px;
}

mat-header-cell {
    font-size: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imagelogo {
    margin-left: 20%;
}

i {
    margin-left: 3%;
}