<h1>Manage Team</h1>

<div *ngIf="_team">

  <div class=container>
    <h2>{{_team.TeamName}}</h2>
    <div style="display: none !important">TeamId: {{_team.TeamId}}</div>
    <button mat-button color="primary" routerLink="/team">Back To List</button>
  </div>

  <div class="list-group mx-5">
    <div *ngFor="let character of _team.Characters" class="list-group-item bg-transparent border-0 my-1 p-0">
      <div class="row list-row">
        <div class="col-2 offset-1">
          <img src="{{character.ImageLink}}" class="med-img-circle clickable" routerLink="/characters/detail/{{ character.CharacterId }}">
        </div>
        <div class="col col-2 pt-4">
          {{character.CharacterName}}
        </div>
        <div class="col-2 pt-4">
          {{character.House}}
        </div>
        <div class="col-2 pt-4 clickable" (click)="removeFromTeam(character)">
          Remove {{character.CharacterName}} from team
        </div>
      </div>
    </div>
  </div>

  <div class="m-5">
    <h2>Add Characters to team:</h2>
  </div>
  <hr>

  <div class="list-group mx-5">
    <div *ngFor="let character of _charactersNotOnTeam">
      <div class="list-group-item bg-transparent border-0 my-1 p-0">
        <div class="row list-row">
          <div class="col-2 offset-1">
            <img src="{{character.ImageLink}}" class="med-img-circle">
          </div>
          <div class="col col-2 pt-4">
            {{character.CharacterName}}
          </div>
          <div class="col-2 pt-4">
            {{character.House}}
          </div>
          <div class="col-2 py-4 clickable" (click)="addCharacter(character)">
            Add {{character.CharacterName}} to team
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
