.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family: 'Cinzel Decorative', cursive;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family: 'Cinzel Decorative', cursive;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-7hmc{font-weight:bold;font-style:italic;font-size:12px;background-color:#e8e8e8;color:#000000;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-i8zc{font-size:12px;background-color:#ffffff;color:#000000;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-qhx5{font-weight:bold;font-size:16px;background-color:#d9d9d9;color:#000000;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-rku8{font-weight:bold;text-decoration:underline;font-size:18px;background-color:#ffffff;color:#000000;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-a3db{font-weight:bold;font-size:14px;background-color:#e8e8e8;color:#000000;border-color:inherit;text-align:left;vertical-align:top}

.tg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

h1 {
    text-align:center;
    margin-top: 50px;
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 7px rgb(255, 255, 255), 0 0 5px rgb(235, 230, 230);
}

.createButton {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.mat-row.mat-row {
    font-family: 'Cinzel Decorative', cursive;
}

img:hover {
    box-shadow: none;
}

img {
    margin: 20px;
    border: 2px solid white;
    border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:10px;
    border-bottom-right-radius:0px;
    box-shadow: 0px -10px 30px black;
}

.button i:hover{
    border: 1px solid black;
    border-radius: 10%;
}