<html>
<h1>Details</h1>

<div *ngIf="character">
    <div class=container>
        <h2>{{character.CharacterName}}</h2>      
        <img [src]="character.ImageLink" alt="character.CharacterName">
        <h4>CharacterId: {{character.CharacterId}}</h4>
      <h4>{{character.House}}</h4>
      <button mat-button color="accent" routerLink="/characters/edit/{{character.CharacterId}}">Edit</button>
      <button mat-button color="primary" routerLink="/characters">Back To List</button>
    </div>
</div>
</html>