<html>
<h1>Details</h1>

<div *ngIf="character">
    <div class=container>
        <div *ngIf="character.House === 'House Stark'"><img src="https://png2.kisspng.com/sh/9929ec5522c571b935948a6f5dcbd773/L0KzQYm3VcAyN5pxiZH0aYP2gLBuTfdzaaoyj9H1Zj3lgrL1TgN1aaNwReVqboPkPcT7ggJsNaFmiNd7LXjyhcTsTgN1aaNwRadqZUi1SIaBUsAzQJM1RqM6M0S2RIO6UcUzPWI7TKM7MEG2QYi1kP5o/kisspng-gray-wolf-bran-stark-sansa-stark-paper-house-stark-5ae828582028b0.1134342315251641201317.png" class="housestark" style="width: 18%"> </div>

        <div *ngIf="character.House === 'House Targaryen'"><img src="https://png2.kisspng.com/sh/1cd2c050286bb63c885186c17fafcb93/L0KzQYm3VMIyN5N1j5H0aYP2gLBuTfRibZ9qiut8LYTkgrjokwlmdl5thAd8ZT33ccPuggJ6bZ8yi9twaXywdLbqgfwue6VuReVxb4fmccTsTgZma6V0ip8AYXTlRrS7gBMyaZVqSZC6M0i8Q4O7V8E2OmU4SqsANEi6SYS6TwBvbz==/kisspng-daenerys-targaryen-house-targaryen-sigil-decal-sti-showcase-vector-5adb6c4cc1ade1.1389324715243295487933.png" class="housetargaryen" style="width: 18%"> </div>

        <div *ngIf="character.House === 'House Lannister'"><img src="https://png2.kisspng.com/sh/1d5ecacb1c4fee156b8e3f597c9329f9/L0KzQYm3U8I3N5d0j5H0aYP2gLBuTfEub5JyfZ94Zj33eMP2jvV0NaVAitt4bj3vcbB1igN1baMygtNybXWwfLL1jvl0fJZ3RdlqbXWwf7e0lPhzd59qi58AYXK7SbXtVMVmO2k9TZC6OEm2QIq3UcE2OmM1TKoAMEC2SIaCTwBvbz==/kisspng-a-game-of-thrones-tyrion-lannister-jaime-lannister-game-of-thrones-5ab89df45e3885.1893090115220485003859.png" class="houselannister" style="width: 16%"> </div>

        <div *ngIf="character.House === 'White Walkers'"><img src="http://pluspng.com/img-png/eyes-png-9-png-image-368.png" class="whitewalkers" style="width: 18%"> </div>

        <div *ngIf="character.House === 'Brotherhood Without Banners'"> <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/4/4e/Brotherhood-Shield.PNG/revision/latest?cb=20170531015541" class="brotherhood" style="width: 13%;"> </div>

        <div *ngIf="character.House === 'House Greyjoy'"> <img src="https://png2.kisspng.com/sh/0343833fe819437196dbb8127b5c3d94/L0KzQYm3VsI6N5Rue5H0aYP2gLBuTgRpbZDzRdl7ZYntf8q0iP92e5YyfARueXryiX7vjCV0bV5xedD3aYP3dcO0iP92e5YyiAZqcnuwg7ruifwuPZM4Tdg7Yna8dYfqU8kvPWE4TaM6MUK0RYS3UsYzOmE8TqYDOT7zfri=/kisspng-theon-greyjoy-house-greyjoy-house-lannister-house-stark-sigil-5b35f2bf9e6c39.5035111215302622076489.png" class="greyjoy" style="width: 13%;"></div>

        <div *ngIf="character.House === 'House Stokeworth'"> <img src="https://awoiaf.westeros.org/thumb.php?f=House_Stokeworth.svg&width=545&lang=en" class="stokeworth" style="width: 13%;"> </div>

        <div *ngIf="character.House === 'House Mormont'"> <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/0/03/House-Mormont-Main-Shield.PNG/revision/latest?cb=20161231120854" class="mormont" style="width: 13%;"> </div>

        <div *ngIf="character.House === 'House Clegane'"> <img src="https://png2.kisspng.com/sh/be7a5e1f0f7b367674dfbbcd82a3587d/L0KzQYm3VcI3N5RvgJH0aYP2gLBuTgNidpV0ip9sbHXqcbBsTfdzbZh0ip9sbHXqcbBsTgN6dZN0hJ9xb4X2dX76lPFzc15oRadrMEm5RrS9WMc0a2c8RqUDNUS1QYi6UcUzP2Q5SqkEMEW4Q4q1kP5o/kisspng-sandor-clegane-gregor-clegane-symbol-house-stark-c-5b0966c6873c67.3854217315273427905539.png" class="clegane" style="width: 13%;"> </div>

        <div *ngIf="character.House === 'House Tarth'"> <img src="https://png2.kisspng.com/sh/99b8a3a8395e636cc8450e6e37255bc5/L0KzQYm3VcI2N5puh5H0aYP2gLBuTfJzcZZzhtc2b3awhLL5lPguaV5sed9uLXBpPcXvkv9vbaQyj9H7bHSwf7e0gb10d59sRadrMEi8QbaBVBNiP2g6RqQ7MkO0QYeAUcUzP2M9UKQENkW0QIe1kP5o/kisspng-brienne-of-tarth-a-game-of-thrones-world-of-a-song-5b0891e87ca775.2223116715272882965106.png" class="tarth" style="width: 13%;"> </div>

        <div *ngIf="character.House === 'Free Folk'"> <img src="https://vignette.wikia.nocookie.net/gameofthronesfanon/images/6/69/Free-Folk-Sigil.png/revision/latest?cb=20171201162447" class="freefolk" style="width: 13%;"> </div>

        <h2>{{character.CharacterName}}</h2>  
        <img [src]="character.ImageLink" alt="character.CharacterName" class="characterimg">
        <h4>CharacterId: {{character.CharacterId}}</h4>
      <h4>{{character.House}}</h4>
      <button mat-button color="accent" routerLink="/characters/edit/{{character.CharacterId}}">Edit</button>
      <button mat-button color="primary" routerLink="/characters">Back To List</button>
    </div>
</div>
</html>