h1 {
    text-align:center;
    margin-top: 50px;
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 7px rgb(15, 15, 17);
}

h3 {
    text-align: center;
}

.container {
    position: relative;
    text-align: center;
    color: black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-size-adjust: 200%;
}

div.a {
    line-height: 2.5;
}

.container {
    margin-top: 50px;
}