<div class="container">
    <div class="main-title">
      <div>  
        <div class="centered">
          <h1>~Westeros Fantasy League~</h1>
          <img src="https://emailmonks.com/game-email-marketing-lessons/images/banner-image.png" style="width: 50%; height:auto;">
          <div class="a"><b>is the best fantasy league in all of Westeros. Game of Thrones is returning with its 8th and final season soon and this web application offers an interactive way to follow along with the episodes. Users can create a team of main characters and as the season progresses, teams will accumulate points depending on what happens with the characters.</b></div> 
          <br>
          <div><b>Developed using C# and Angular 5 by</b></div> 
          <br>
          <div><b>Thomas of House Fraley</b></div> 
          <br>
          <div><b>Troy of House Kuhn</b></div> 
          <br>
          <div><b>Jon of House Adcock</b></div> 
      </div>
    </div>
</div>