.mat-form-field {
    width: 1000px;
}

form {
    justify-content: center;
    text-align: center;
}

h1 {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}