<h1>Edit Points</h1>

<hr>

<div class="container">
<div *ngIf="pointValue">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editPointValueForm">
        <div>
            <div hidden>
                <mat-form-field>
                    <input matInput placeholder="PointValueId" formControlName="PointValueId" type="PointValueId" required [value]="pointValue.PointValueId"/>
                </mat-form-field>
            </div>
            <div hidden>
              <mat-form-field>
                  <input matInput placeholder="CharacterId" formControlName="CharacterId" type="CharacterId" required [value]="pointValue.CharacterId"/>
              </mat-form-field>
          </div>
    <div>
        <p>SurvivedEpisode :<mat-checkbox [value]="pointValue.SurvivedEpisode" formControlName="SurvivedEpisode" type="SurvivedEpisode">
          </mat-checkbox></p>
      </div>
      <div>
          <p>Episode Appearance :<mat-checkbox [value]="pointValue.EpisodeAppearance" formControlName="EpisodeAppearance"  type="EpisodeAppearance">
          </mat-checkbox></p>
        </div>
        <div>
          <p>GetKill :<mat-checkbox [value]="pointValue.GetKill" formControlName="GetKill" type="GetKill">
          </mat-checkbox></p>
        </div>
        <div>
          <p>Death :<mat-checkbox [value]="pointValue.Death" formControlName="Death" type="Death">
          </mat-checkbox></p>
        </div>
        <div>
          <p>Big Kill :<mat-checkbox [value]="pointValue.BigKill" formControlName="BigKill" type="BigKill">
          </mat-checkbox></p>
        </div>
        </div>
        <button mat-raised-button class="nav-btn" color="primary" type="submit">Save</button>
        <a mat-button routerLink="/pointvalues">Back To List</a>
        <br>
    </form>
  </div>
</div>