.thumbnailImages {
    height: 50px;
    width: 50px;
    margin: 4px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0px 2px 3px black;
}
.thumbnailImages:hover {
    box-shadow: none;
}

.teamTableRow {
    background: linear-gradient(
        to bottom, #ffffff40,whitesmoke
    ); 
}

i:hover {
    border: 1px solid black;
    border-radius: 10%;
}

h1 {
    text-align:center;
    margin-top: 50px;
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 7px rgb(255, 255, 255), 0 0 5px rgb(235, 230, 230);
}

.createButton {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}