<h1>Teams</h1>
<a mat-raised-button color="primary" routerLink="/team/create">Create New</a>
<hr>

<div>
  <mat-table #table [dataSource]="dataSource" matSort matSortDisableClear>

    <mat-header-row *matHeaderRowDef="teamColumnNames" class="teamTableRow"></mat-header-row>
    <mat-row *matRowDef="let row; columns: teamColumnNames;" class="teamTableRow" ></mat-row>

    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
      <mat-cell *matCellDef="let teamDetail" routerLink="/team/{{teamDetail.TeamId}}"><i class="material-icons">account_circle</i></mat-cell>
    </ng-container>

    <ng-container matColumnDef="TeamName">
      <mat-header-cell *matHeaderCellDef> Team Name </mat-header-cell>
      <mat-cell *matCellDef="let teamDetail"> {{teamDetail.TeamName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="TotalPoints">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Total Points </mat-header-cell>
      <mat-cell *matCellDef="let teamDetail"> {{teamDetail.TotalPoints}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Characters">
      <mat-header-cell *matHeaderCellDef> Characters: </mat-header-cell>
      <mat-cell *matCellDef="let  teamDetail">
        <img *ngFor="let character of teamDetail.Characters" src="{{ character.ImageLink }}" class="thumbnailImages" routerLink="/characters/detail/{{ character.CharacterId }}">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let teamDetail">
        <i mat-icon class="material-icons">edit</i>
        <i class="material-icons">delete</i>
      </mat-cell>
    </ng-container>

  </mat-table>
</div>
