
.container-fluid {
    display: inline-flex;
    font-size: 20px;
    margin-left: 5em;
    text-align: center;
    background-color: black;
    
}

a {
    text-align: center;
    padding: 0em 5em 0em 5em;
    background-color: black;
    color: white;
    text-shadow: whitesmoke, 2px 5px 5px #00ffd0;

}

.navbar-default {
    background-color: black;
}

p {
    text-align: center;
}

p.logo {
    text-align: center;
    float: left;
    padding-right: 3em;
    color: white;
    text-shadow: 0px 10px 10px rgb(231, 236, 231), 2px 5px 5px #00ffd0;
}

a:hover {
    color: rgb(238, 245, 235);
    
}