<body>
<nav class="fixed-top">
    <ul id="main-ul">
        <li><a routerLink="/"><b>Westeros Fantasy League</b></a></li>
        <li><a routerLink="/characters"><b>Characters</b></a></li>
        <li><a routerLink="/team"><b>Team</b></a></li>
        <li><a routerLink="/pointvalues"><b>Points</b></a></li>
        <li><a routerLink="/contact"><b>Contact Us</b></a></li>
        <li *ngIf="isLoggedIn() !== 'true'"><a routerLink="/user/registration"
            *ngIf="isLoggedIn() !== 'true'"><b>Sign Up / Log in</b></a></li>
        <li><a routerLink="/user/logout" *ngIf="isLoggedIn() === 'true'"><b>Log
            Out</b></a></li>
    </ul>
  </nav>
</body>