<html>
<h1>Delete</h1>
<h5>Are you sure you want to delete this?</h5>

<div *ngIf="pointValue">
    <div class=container>
        <div>
            <p>SurvivedEpisode :<mat-checkbox [checked]="pointValue.SurvivedEpisode" type="SurvivedEpisode">
              </mat-checkbox></p>
          </div>
          <div>
              <p>Episode Appearance :<mat-checkbox [checked]="pointValue.EpisodeAppearance" type="EpisodeAppearance">
              </mat-checkbox></p>
            </div>
            <div>
              <p>GetKill :<mat-checkbox [checked]="pointValue.GetKill" type="GetKill">
              </mat-checkbox></p>
            </div>
            <div>
              <p>Death :<mat-checkbox [checked]="pointValue.Death" type="Death">
              </mat-checkbox></p>
            </div>
            <div>
              <p>Big Kill :<mat-checkbox [checked]="pointValue.BigKill" type="BigKill">
              </mat-checkbox></p>
            </div>
      <button mat-button color="accent" (click)="onDelete()">Delete</button>
      <button mat-button color="primary" routerLink="/pointvalues">Back To List</button>
    </div>
</div>
</html>