<h1>Create Point Values.</h1>
<hr>
<div class="container">

  <form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="pointValueForm">
    <div>
      <div>
        <h4>Character Select</h4>
        <mat-form-field>
          <mat-label>Character</mat-label>
          <mat-select formControlName="CharacterId" type="CharacterId" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let character of characterSelect" [value]="character.CharacterId">
              {{character.CharacterName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-checkbox [indeterminate]="true" formControlName="SurvivedEpisode">
          <i>Survived Episode</i>
        </mat-checkbox>
      </div>
      <div>
        <mat-checkbox [indeterminate]="true" formControlName="EpisodeAppearance">
          <i>Episode Appearance</i>
        </mat-checkbox>
      </div>
      <div>
        <mat-checkbox [indeterminate]="true" formControlName="GetKill">
          <i>Get Kill</i>
        </mat-checkbox>
      </div>
      <div>
        <mat-checkbox [indeterminate]="true" formControlName="Death">
          <i>Death</i>
        </mat-checkbox>
      </div>
      <div>
        <mat-checkbox [indeterminate]="true" formControlName="BigKill">
          <i>Big Kill</i>
        </mat-checkbox>
      </div>
    </div>
    <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Point Value</button>
    <a mat-button color="accent" routerLink="/pointvalues">Back to List</a>
    <br>
  </form>
