h1 {
    text-align:center;
    margin-top: 50px;
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 7px rgb(255, 255, 255), 0 0 5px rgb(235, 230, 230);
}

.container {
    font-family: 'Cinzel Decorative', cursive;
  font-size: 14px;
  color: black;
  background: linear-gradient(
        to bottom, #ffffff40,rgba(245, 245, 245, 0.644)
    ); 
    width: 19%;
    padding-top: 2%;
    padding-bottom: 1%;
}
