<h1>Create Point Values.</h1>
<hr>
<div class="container">

<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="pointValueForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="CharacterId" formControlName="CharacterId" type="CharacterId" required/>
      </mat-form-field>
 </div>
    <!-- <div>
      <mat-checkbox>
        <label>Did this character survive the episode?</label><input type="checkbox" checked="checked" id="SurvivedEpisode" />
      </mat-checkbox>
    </div>
    <div>
      <form>
        <label>Did this character appear in the episode?</label><input type="checkbox" checked="checked" id="EpisodeAppearance" />
      </form>
    </div>
    <div>
      <form>
        <label>Did this character get a kill in the episode?</label><input type="checkbox" checked="checked" id="GetKill" />
      </form>
    </div>
    <div>
      <form>
        <label>Did this character die in the episode?</label><input type="checkbox" checked="checked" id="Death" />
      </form>
    </div>
    <div>
      <form>
        <label>Did this character kill another main character or a White Walker?</label><input type="checkbox" checked="checked" id="BigKill" />
      </form>
    </div> -->
    <div>
      <mat-checkbox [indeterminate]="true" formControlName="SurvivedEpisode">
        <input matInput placeholder="SurvivedEpisode" formControlName="SurvivedEpisode" type="SurvivedEpisode" />
      </mat-checkbox>
    </div>
    <div>
        <mat-checkbox [indeterminate]="true" formControlName="EpisodeAppearance">
          <input matInput placeholder="EpisodeAppearance" formControlName="EpisodeAppearance" type="EpisodeAppearance" />
        </mat-checkbox>
      </div>
      <div>
        <mat-checkbox [indeterminate]="true" formControlName="GetKill">
          <input matInput placeholder="GetKill" formControlName="GetKill" type="GetKill" />
        </mat-checkbox>
      </div>
      <div>
        <mat-checkbox [indeterminate]="true" formControlName="Death">
          <input matInput placeholder="Death" formControlName="Death" type="Death" />
        </mat-checkbox>
      </div>
      <div>
        <mat-checkbox [indeterminate]="true" formControlName="BigKill">
          <input matInput placeholder="BigKill" formControlName="BigKill" type="BigKill" />
        </mat-checkbox>
      </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Point Value</button>
  <br>
  <a mat-button routerLink="/pointvalues">Back to List</a>
</form>