<h1>Details</h1>

<div *ngIf="team">
  <div class=container>
    <h2>{{team.TeamName}}</h2>
    <h4>Total Points: {{team.TotalPoints}}</h4>
    <button *ngIf="ownerCheck()" mat-button color="primary" routerLink="/team/manageTeam/{{team.TeamId}}">Manage Team</button>
    <button *ngIf="ownerCheck()" mat-button color="accent" routerLink="/team/delete/{{team.TeamId}}">Delete Team</button>
    <button mat-button color="primary" routerLink="/team">Back To List</button>
  </div>

  <div class="list-group">
    <div *ngFor="let character of team.Characters" class="list-group-item bg-transparent border-0 my-1 p-0">
      <div class="row list-row">
        <div class="col-2 offset-1">
          <img src="{{character.ImageLink}}" class="med-img-circle">
        </div>
        <div class="col col-2 pt-4">
          {{character.CharacterName}}
        </div>
        <div class="col-2 pt-4">
          {{character.House}}
        </div>
        <div class="col-2 pt-3">
          Points earned:
        </div>
        <div *ngFor="let character of team.Characters"></div>
      </div>
    </div>
</div>
